
<div><br></div><div><br></div><div><br></div>
<div class="container-fluid" id="cont" >
    <div class="card shadow mb-2" style="overflow-x: hidden; background-image: linear-gradient(to right, rgb(205, 186, 243), #c2f5de, #cbf7e4, #d4f8ea, rgb(205, 186, 243));"> 
        <div class="card-body" >
            <h1 style="text-align:center;">Dashboard</h1><br>
            <div class="row">
                <div class="col-md-3">
                    <div class="card card-stats text-white bg-danger">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <img src="../../assets/images/prod.jpg" class="card-img-top" height="50" width="50">
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Produits</p>
                                        <h2 class="card-title">{{nbPro}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats text-white bg-primary">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <img src="../../assets/images/ing.jpg" class="card-img-top" height="50" width="50">
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Ingredients</p>
                                        <h2 class="card-title">{{nbIng}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats text-white bg-warning">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <img src="../../assets/images/user.png" class="card-img-top" height="50" width="50">
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center">
                                    <div class="numbers">
                                        <p class="card-category">Utilisateurs</p>
                                        <h2 class="card-title">{{nbUsers}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card card-stats text-white bg-warning">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-5">
                                    <div class="icon-big text-center">
                                        <img src="../../assets/images/budget.jpg" class="card-img-top" height="50" width="50">
                                    </div>
                                </div>
                                <div class="col-7 d-flex align-items-center" >
                                    <div class="numbers">
                                        <p class="card-category">Budget</p>
                                        <h2 class="card-title">{{avgPrix}}</h2>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

