<!-- home.component.html -->

<div class="background" style="background-image: url('./assets/images/bg1.png')">
  <app-menu></app-menu>
<!-- Contenu de la page -->
<div class="container mt-5">
    <div class="jumbotron">
        <h1 class="display-4">Bienvenue sur Parapharmacie ParaSante</h1>
        <p class="lead">Votre destination pour des produits de parapharmacie de qualité.</p>
        <hr class="my-4">
        <p>Explorez notre large gamme de produits pour la santé et le bien-être.</p>
        <a class="btn btn-primary btn-lg" href="prodect" role="button">Découvrez nos produits</a>
    </div>
</div>
</div>


  